.feature-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 390px;
}

.feature-icon {
  padding: 12px;
  background-color: #f3e5f5;
  border-radius: 12px;
  width: fit-content;
}

.feature-title {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 600;
  font-size: 27px;
  line-height: 26px;
  letter-spacing: 0.46px;
  color: #1A1A1A;
  margin-bottom: 4px;
}

.feature-description {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #555;
}
